body {
	padding-top: 70px;
	padding-bottom: 70px;
}

.container {
	max-width: 800px;
}

.hasil {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
	margin-top: 20px;
}

.pesan {
	float: right;
	margin-top: 7px;
}

.jumlah {
	float: left;
	/*margin: 0;*/
	padding-top: 4px;
}